meta(charset="utf-8")
meta(name="viewport" content="width=device-width,user-scalable=no")

title=title
meta(name="description" content=meta_description)
meta(name="keywords" content=meta_keywords)

meta(property="og:locale" content="ja_JP")
meta(property="og:type" content="website")
meta(property="og:url" content=url)
meta(property="og:title" content=title)
meta(property="og:site_name" content=siteName)
meta(property="og:description" content=og_description)
meta(property="og:image" content=share_image)

meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:title" content=title)
meta(name="twitter:description" content=tw_description)
meta(name="twitter:image" content=share_image)
if tw_site
  meta(name="twitter:site" content=tw_site)
if tw_creator
  meta(name="twitter:creator" content=tw_creator)

if favicon_url
  link(rel="shortcut icon" type="image/vnd.microsoft.icon" href=favicon_url)
  link(rel="icon" type="image/vnd.microsoft.icon" href=favicon_url)
  link(rel="shortcut icon" href=favicon_url)
  link(rel="icon" href=favicon_url)

if apple_touch_icon_url
  link(rel="apple-touch-icon-precomposed" href=apple_touch_icon_url)
  link(rel="apple-touch-icon" href=apple_touch_icon_url)
